section {
  margin: 30px;
  padding: 20px;
  border: 3px solid #b59854;
  color: white;
  background-color: #131313;
}

section:first-of-type h2 {
  color: white;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 160px;
}
