
/* ==========================================================================
    CONFIGURACIÓN  GENERAL
============================================================================= */

/*Esto es para que aplique todo los formatos a todo el documento*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Hace que el ancho y el alto del elemento incluyan el padding y el borde, evitando que aumente su tamaño total. */
  color: white;
}

/*Esto es para que aplique esa función a todo el html*/
html {
  scroll-behavior: smooth; /* Desplaza la página de forma suave hacia una sección en lugar de saltar directamente. */
}

main {
  width: 80%;
  margin: 0 auto;
  
}

body{
  background-color: black;
}

/* ==========================================================================
    CONFIGURACIÓN  PARA EL MENÚ ESCRITORIO
============================================================================= */

/*Configuración para todos los headers*/

/*El contenedor (header) */
.main-header {
  background: black;
  display: flex;
  padding: 1rem;
  justify-content: center;
}


/*El el contenedor (nav)*/
.header-nav {
  display: flex; /*Para poner todos los hijos al lado*/
  align-items: center;
  justify-content: center;
  gap: 2.25rem; /*es el espacio en blanco que se deja entre elementos */
  padding: 1.625rem 3.125rem;
  
}

/*Es el contenedor (ul)*/
.nav-list {
  display: flex;
  gap: 0.375rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", sans-serif;
}

/*Es el contenedor (a) para manejar el texto dentro de los */
.nav-link {
  /*Este es lo link o a de del nav*/
  color: white;
  text-decoration: none; /*Para quitarle los puntos y raya*/
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  border-radius: 1.25rem;
  transition:
    background 0.25s ease,
    color 0.25s ease;
  /* transition: background 0.25s ease, color 0.25s ease;
    Hace que los cambios de "background" y "color" no ocurran de golpe,
    sino de forma suave, en 0.25 segundos cada uno (como un desvanecido).
    Aquí van DOS transiciones separadas por una coma: una para el background
    y otra para el color, cada una con su propia duración y tipo de movimiento. */
  text-align: center;
  white-space: nowrap; /*le dice al navegador que nunca haga un salto de línea dentro del texto.*/
}

/*El logo */
.header-logo img {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link:hover {
  /*Cuando se pasa el mouse por los link del nav*/
  background: linear-gradient(
        90deg,
        #8d6e2f,
        #cba135,
        #f2d27a
    );
  color: black;
}

.nav-link:hover i{ /*cuando pasen el mouse por ahi tambien cambie de color los iconos*/
    color: black;
  }

.hamburger-menu { /*Esto es para que no muestre el menu hamburguesa cuando está en escritorio*/
  display: none;
}

.cerrar-menu { /*Esto es para que no muestre el boton X cuando está en escritorio*/
  display: none;
}

/* =================================================================================
    CONFIGURACIÓN MOBILE 
==================================================================================== */

@media screen and (max-width: 575px) { /*Se activa cuando la pantalla mida menos o igual que 576px*/
  
  /* =================================================================================
    CONFIGURACIÓN MENU
  ==================================================================================== */

  /*Esto es para que muestre el menu hamburguesa cuando está en mobile*/
  .hamburger-menu { 
    display: block;
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
  }

  .hamburger-menu:hover{
    transform: scale(1.15); /*cuando se presiona se hace más grande*/
  }

  /*El contenedor (header) */
  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*Contenedor(nav) Padre del botton y el ul*
  Es la parte gris del menu*/
  .header-nav {
    position: fixed; /*Aquí esta actuando como hijo del header y significa mover el hijo en cualquier parte dentro del padre. Permite usar left, top..*/
    top: 0;
    right: 0;
    bottom: 0;

    width: 240px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 1rem;
  
    background: linear-gradient(
    180deg,
    #3c3b3a 0%,
    #2f2f2f 45%,
    #232323 100%
    );

    box-shadow:
    -15px 0 40px rgba(0,0,0,.45),
    0 0 0 100vmax rgba(0,0,0,.5);

    border-radius: 40px 0 0 40px;

    /* Esto es para que no muestre el nav cuando está en mobile y pongo .nav-list para que si me muestre la imagen que también esta adentro del nav*/
    opacity: 0;
    visibility: hidden;

    transform: translateX(100%);
    transition: transform .35s ease;

    z-index: 10; /*Esto es para las imagenes del fondo que no se vean encima del menu*/
  }

  /*Esto es para Java Script*/
  .header-nav.visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

/*Contenedor (ul) Padre de los li*/
  .nav-list {
    display: flex;
    flex-direction: column; /*que ponga a sus hijos de manera vertical*/ 

    margin: 0;   /* Espacio debajo de la X */
    padding: 0;
    width: 100%; /*significa que el elemento ocupa el 100% del ancho de su contenedor padre.*/
  }

  .nav-link:hover i{ /*cuando pasen el mouse por ahi tambien cambie de color los iconos*/
    color: black;
  }

/*Contenedor (li) Padre de los a*/
  .nav-item{
    margin: 0;
    width:100%;
    padding:1rem 0;
    
  }

  /*Esta es la líneas del menu gris y le pongo el not para que al ultimo no le ponga*/
  .nav-item:not(:last-child){
    border-bottom:1px solid rgba(203,161,53,.45);
  }

  /*Contenedor (a) para manejar lo que está dentro el texto. Padre de los textos*/
  .nav-link {
    color: #d4b483;
    text-decoration: none; /*Para quitarle los puntos y raya*/
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 0;
    white-space: nowrap; /*le dice al navegador que nunca haga un salto de línea dentro del texto.*/
    transition: .3s;
    font-family: "Cormorant Garamond", sans-serif;

  }

  .nav-link:hover {
  /*Cuando se pasa el mouse por los link del nav*/
    background: none;
    color: #f6deb0;
    padding-left:12px;
  }

  .nav-link:hover i{ /*cuando pasen el mouse por ahi tambien cambie de color los iconos*/
    color: #f6deb0;
  }


  /*logo*/
  .header-logo img {
    width: 100px;
    height: 100px;
  }

  .cerrar-menu{
    background-color: transparent;
    margin: 0;
    border: 0;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;

    display: block;  /*Esto es para que muestre el menu hamburguesa cuando está en mobile*/
  }

  .cerrar-menu:hover{
    color:white;
    transform:rotate(90deg);
  }

  .bi-house-door, .fa-solid, .bi-question-circle, .bi-person, .bi-envelope {
    color: #d4b483;
    font-size: 1.2rem;
  }

  /* =================================================================================
    CONFIGURACIÓN FOOTER
  ==================================================================================== */

  footer {
    width: 100%; /*Ocupa el 100% del ancho de la pantalla*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom:0;
    margin-bottom: 0;
    border-top: 1px solid #87868477;
    
  }

  /*logo*/
  .logo {
    width: 100px; /*Se usa px para que mantenga siempre esa medida sin importar el tamaño de la pantalla*/
    height: 100px;
  }

  /*Estilo general para todas las section del footer*/

  footer section {
    border-color: transparent;
    background-color: black;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;  /*Esto hace que siempre el hijo ocupe el 100% del ancho de su elemento padre que es el footer y a su vez footer tambien tiene width 100%*/
    /*por eso los elementos siempre van a quedar centrados si pongo justife content center aunque alarge la pantalla*/
  }

  footer li {
    font-family: "Montserrat",sans-serif;
    font-size: 0.70rem;
    font-weight: 400;
    white-space: nowrap; /*le dice al navegador que nunca haga un salto de línea dentro del texto.*/
  }

  ul {
    list-style: none;
  }

  footer h3 {
    font-size: 0.90rem;
    font-weight: 400;
    border-left:solid #cba135;
    padding-left: 0.90rem;
    padding-bottom: 0.3rem;
  }

  /*----------------------------------------------------*/
  /*--------Todo sobre la sección de footer-menu--------*/
  /*----------------------------------------------------*/

  /*Contenedor (ul) Padre de los li*/
  .nav-list-footer {
    display: flex;
    flex-direction: column; /*que ponga a sus hijos de manera vertical*/ 
    margin: 0;   /* Espacio debajo de la X */
    padding: 0;
    width: 100%; /*significa que el elemento ocupa el 100% del ancho de su contenedor padre.*/
  }

  /*Contenedor (li) Padre de los a*/
  .nav-item-footer{
    margin: 0;
    width:100%;
    padding: 0.4rem 0;
    
  }

  /*Esta es la líneas del menu gris y le pongo el not para que al ultimo no le ponga*/
  .nav-item-footer:not(:last-child){
    border-bottom:1px solid rgba(215, 157, 12, 0.199);
  }

  /*Contenedor (a) para manejar lo que está dentro el texto. Padre de los textos*/
  .nav-link-footer {
    color: white;
    text-decoration: none; /*Para quitarle los puntos y raya*/
  }

  .nav-link-footer:hover {
  /*Cuando se pasa el mouse por los link del nav*/
    background: none;
    color: #f6deb0;
  }
  

  /*------------------------------------------------------*/
  /*--------Todo sobre la sección de footer-social--------*/
  /*------------------------------------------------------*/
  
  .footer-social {
    display: flex;
    flex-direction: column;
  }

  /*Contenedor (nav) padre de los a*/
  .footer-social nav{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
  }

  /*Este el contenedor(a) padre de los i los textos*/
  /*Al final es el círculo de las redes*/
  .social-icon{
      width: 2.5rem;
      height:2.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #cba135;
      border-radius: 50%;
      text-decoration: none;
      transition: .3s;
  }

  .social-icon i{
      font-size: 1rem;
  }

  /*Esto es para cuando se toquen con el mouse se hagan un poquito para arriba*/
  .social-icon:hover{
      transform: translateY(-4px);
  }

  footer .bi{
    background-color: black;
    color: #cba135;
    padding: 0.2rem;
    margin: 0;

  }

  /*----------------------------------------------------*/
  /*--------Todo sobre la sección de footer-whatsapp----*/
  /*----------------------------------------------------*/

  .footer-whatsapp {
    display: flex;
    border: solid 1px #cba135;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    
  }

  .footer-whatsapp i {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .footer-whatsapp div {
    margin-left: 0%;
    border-left: solid 2px #cba135;;
  }

  .footer-whatsapp h3, .footer-whatsapp a{

    border-left: none;
    padding-left: 1rem;
    text-decoration: none;

  }

  .footer-whatsapp a:hover {
    color: #cba135;
  }
  

  /*----------------------------------------------------*/
  /*--------Todo sobre la sección de footer-hour--------*/
  /*----------------------------------------------------*/

  .footer-hours li {
    padding-top: 0.7rem;
    padding-left: 1.15rem;

  }
  
  /*-----------------------------------------------------*/
  /*--------Todo sobre la sección de footer-legal--------*/
  /*-----------------------------------------------------*/

  .footer-legal{
    width: 90%;
    padding-top: 0;
    margin-bottom: 2rem;
    
  }

  .legal-list{
    list-style: none;
    margin: 0;
    padding: 0;
  }

.legal-item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.252);
  }

.legal-link{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;

    text-decoration: none;
    color: white;

    transition: .3s;
  }

.legal-left{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

.legal-left i, .legal-link i{
    color: #cba135;
    font-size: 1.2rem;
  }

.legal-left span{
    font-size: 0.9rem;
    font-family: "Cormorant Garamond", sans-serif;
  }

.footer-legal i{
    font-size: 0.9rem;
  }

.legal-link:hover{
    color: #cba135;
  }

.legal-link:hover .bi-chevron-right{
    transform: translateX(5px);
  }

.bi-chevron-right{
    transition: transform .3s ease;
  }

  /*----------------------------------------------------*/
  /*--------Todo sobre la sección de copyright----------*/
  /*----------------------------------------------------*/

  .footer-copy{
    width: 100%;
    background-color: #333;
    border-radius: 0%;
    text-align: center;
    font-size: 0.90rem;
    margin: 0;
    padding: 2rem;
    
  }

}